<%-include('../Includes/header.ejs')%>
<link rel="stylesheet" href="/CSS/addToCart.scss" type="text/css">
</head>
<body>

    <%-include('../Includes/navigation.ejs')%>

    <main>
        <% if (products.length > 0) { %>
            <ul class="cart__item-list">
                <% products.forEach(p => { %>
                    <li class="cart__item">
                        <img src="../../<%=p.productId.pImage%>" height="80" width="100" alt="img"></h1> <h1><%= p.productId.pTitle %>
                        <h2>Quantity: <%= p.quantity %></h2>
                        <form action="/cart-delete-item" method="POST">
                            <input type="hidden" value="<%= p.productId._id %>" name="productId">
                            <input type="hidden" name="_csrf" value="<%= csrf_token %>">
                            <button class="btn-danger" type="submit">Delete</button>
                        </form>
                    </li>
                <% }) %>
            </ul>
            <hr>
            <br/>
            <div class="centered">
 
              <a class="order-btn" href="/checkout" style="text-decoration:none;">Order Now</a>
           
            </div>
        <% } else { %>
            <h1> No Products in Cart </h1>
        <% } %>
    </main>
    <%-include('../Includes/footer.ejs')%>